@model course_site.Models.Lesson
@{
    ViewData["Title"] = "Home Page";
}
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/js/nav.js")"></script>
}


<div class="row">
    <div class="col-md-9">
        <h1>@Model.lessonTitle</h1>
            @Html.Raw(@Model.getLessonHTML())
    </div>
</div>
