@model course_site.Models.Lesson
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-9">
        <h1>@Model.lessonTitle</h1>
            @Html.Raw(@Model.getLessonHTML())
    </div>
</div>
